.menu {
display:block;
min-width: 120px;
margin: 0.5rem;
padding: 0.4rem 0;
color: white;
text-decoration: none;
border: 1px solid #fff;
border-radius: 4px;
transition: all 1s;
font-size: 20px
letter-spacing: 4.5rem;
border-color: #1A0C0F;
background-color: #1A0C0F;
}

.home{
	position: absolute;
	top: 0;
	left: 0;
}
.about{
	position: absolute;
	top: 0;
	right: 0;
}
.gallery{
	position: absolute;
	bottom: 0;
	left: 0;
}
.contact{
	position: absolute;
	bottom: 0;
	right: 0;
}

.menu:hover {
background-color: #1A0C0F;
color: #d5cdbb;
border-color: #d5cdbb;
text-decoration: underline;
}