@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fredoka:wght@500&family=Lato:wght@100;300;700&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('banner.css');
@import url('buttons.css');
@import url('footer.css');
@import url('container.css');

a{
	text-decoration: none;
}

body {
	margin: 0px;
	text-align: center;
	background-color: #DFDED6;
	width: 100vw;
	overflow-x: hidden;
}

h1 {
	font-size: 100px;
	color: #1A0C0F;
	text-shadow: 3px 2px 0px white;
	font-family: "Lato"; 
}

h2 {
	font-size: 30px;
	text-align: center;
	color: #1A0C0F;
	font-family: "Anton";
	letter-spacing: .2rem;
	text-shadow: 3px 2px 0px white;

}
h4 {
	font-style: normal;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    letter-spacing: 1.2vw;
    line-height: 6vw;
    font-size: 3.2vw;
    color: #1A0C0F;
	margin-left: 5%;
	margin-right: 5%; 
}

p{
	font-size: 15px;
	margin-left: 30px;
	margin-right: 30px;
	color: #686767;
	position: left;
	line-height: 1.5em;
	text-align: justify;
}

img{
	height: 500px;
	width: 400px;
}



.parallax-effect {
  background-image: url("https://cdn.shopify.com/s/files/1/2141/2691/articles/Meet_DanDanBlog_BannerImage_800x.jpg?v=1630911383");
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
 align-items: center;
}




